@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
}


@layer components {
    .title {
      @apply font-title text-black tracking-normal font-semibold;
    }
    .text{
        @apply font-text text-default tracking-wider font-normal;
    }
}

p,h1,h2,h3,h4,h5,button,span{
    /* -webkit-font-smoothing: antialiased; */
    text-rendering: optimizeLegibility;
}